.font-museo {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal
}

.font-mynerve {
    font-family: "Mynerve", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.font-worksans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    /*background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* background: rgb(13,10,36); */
    background-color: #0d0a24;
}

html, .container {
    height: 100%;
    width: 100%;
}

.container {
    background-color: #27224e;
}

.banner {
    position: sticky;
    bottom: 0;
    width: 100vw;
    height: auto;
    z-index: 69420;
}

.warning-text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    background-color: #e49898;
    color: #881212;
}

.warning-text-yell {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    color: #881212;
}

.warning-text-yell:hover {
    color: #0d0a24;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.center-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ps-logo {
    width: 384px;
}

hr {
    border: none;
    outline: none;
    margin: 20px 0 20px 0;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-size: 1.8rem;
    padding: 40px;
    color: #fafafa;
    background-color: rgb(26, 21, 58);
}

.center-text p {
    margin: 0;
    padding: 0;
}

.center-socials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list-nostyle {
    list-style-type: none;
    margin: 0;
}

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.social {
    padding: 5px;
    margin: 5px;
}

.social-image {
    width: 64px;
}

.center-snips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #fafafa;
}

.snip {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #0d0a24;
    padding: 20px;
}

.snip-title {
    font-size: 1.6rem;
    font-weight: bold;
}

code, pre {
    display: block;
    background: #ffeff0;
    color: #0d0a24;
    word-wrap: break-word;
    overflow-x: scroll;
    max-width: 400px;
    min-width: 200px;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}